
/* Root component container - animate in/out*/
.auth-screen.left {
  flex-direction: column;
  display: flex;

  width: 100vw;
  height: 100vh;

  margin-left: -100vw;
  transition: all 0.6s ease;
}

.auth-screen.right {
  flex-direction: column;
  display: flex;

  width: 100vw;
  height: 100vh;

  margin-left: 100vw;
  transition: all 0.6s ease;
}

.auth-screen.up {
  flex-direction: column;
  display: flex;

  width: 100vw;
  height: 100vh;

  margin-top: -100vh;
  transition: all 0.6s ease;
}

.auth-screen.down {
  flex-direction: column;
  display: flex;

  width: 100vw;
  height: 100vh;

  margin-top: 100vh;
  transition: all 0.6s ease;
}


.auth-screen {
  flex-direction: column;
  display: flex;

  width: 100vw;
  height: 100vh;

  transition: all 0.6s ease;
}

/* Form elements */

.form-group, .form-group label {
  width: 100%;
  margin-bottom: 0.5rem;
  transition: all 1s ease-in-out;
}

.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-height: 7.5vh;
}

.form-group label {
  margin-left: 1rem;
  font-size: 0.8rem;
}

/* Toggle show password button/img */
.show-password {
  overflow: hidden;
  overflow-wrap: none;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;

  min-height: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  margin-top: 0.1rem;
  margin-left: -2.5rem;
  transition: all 1s ease-in-out;
}

.show-password:hover, .show-password.selected {
  opacity: 1.0;
}

/* Authorization form input*/

.form-group input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #d9d9d9;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid #f5c800;
}

/* Swing/shake animation for bad login atttempts */
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.auth-form {
  margin: auto;
  width: 60vw;
  max-width: 600px;
  min-width: 400px;
  
  /* Make it a round boy */
  padding: 1.5rem;
  border-radius: 2rem;
  background: #707070;
  box-shadow: rgb(56, 51, 51) 0 10px #000;
}

.auth-form.error {
  -webkit-animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.form-back {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 1rem;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
  transition: all 1s ease-in-out;
}

.form-subtext {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.form-btn {
  margin-top: 1rem;
  transition: all 1s ease-in-out;
}

/* Ala-carte */

.login-reset {
  margin-left: 1rem;
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
}

.forgot-info {
  word-wrap: break-word;
  text-align: center;
  display: block;
  font-size: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* If screen heigh is <= 600px */

@media screen and (max-height: 600px) {
  .form-btn, .form-subtext {
    margin-top: 0.5rem;
  }
  .form-group, .form-group label {
    margin-bottom: 0rem;
  }
  .form-title {
    margin-bottom: 0rem;
    font-size: 1rem;
  }
 
  .show-password {
    min-height: 1.5rem;
    max-height: 1.5rem;
    margin-top: 0.25rem;
  }
}