/* User-triggers, scroll container */

/* Scroll-bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5c800;
}

.root-container::-webkit-scrollbar-thumb {
  background: #f5c800;
  border: 0.2rem solid #000;
  border-radius: 1rem;
}

.root-container {
  /* Container */
  position: relative;
  z-index: 1;

  overflow-y: scroll;
  overflow-x: hidden;
  
  width: 90vw;

  min-height: 20vh;
  max-height: 30vh;
  border-radius: 1rem;

  background-color: #707070;
  border: 0.2rem solid #000;
  /* Font */
  color: #fff;
  font-size: 1.75rem;
}

/* Indiviual defined-triggers with info */

.trigger-container {
  margin-bottom: 15px;
  height: 100%;
  width: 95%;
}

.trigger-container.removed {
  opacity: 0;
  margin-top: -65px;
  transition: margin-top 1s ease;
}

.defined-trigger {
  border-radius: 0 0 0 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease-in-out;
}


/* Trigger type labels */

.defined-trigger.BUY {
  width: 40%;
  height: 100%;

  color: #000;
  text-decoration: underline;
  background-color: #248232;

  border-radius: 1rem 0 0 1rem;
  border-bottom: 0.2rem solid #000;
}

.defined-trigger.SELL {
  width: 40%;
  height: 100%;

  color: #000;
  text-decoration: underline;
  background-color: #6c0f2c;

  border-radius: 1rem 0 0 1rem;
  border-bottom: 0.2rem solid #000;
}

.defined-trigger.ALERT {
  width: 40%;
  height: 100%;
  text-decoration: underline;
  background-color: #303030;
  border-radius: 1rem 0 0 1rem;
  border-bottom: 0.2rem solid #000;
  color: #000;
}

.defined-trigger.condition {
  font-weight: bold;
  width: 20%;
  height: 100%;
  background-color: #000;
  border-radius: 0 1rem 0 0;
  border-bottom: none;
}

.defined-trigger.price {
  max-width: 40%;
  height: 100%;

  border-bottom: 0.2rem solid #000;
  border-radius: 0 1rem 0 0;
}

/* Select/Remove defined trigger */

.remove-trigger {
  pointer-events: none;
  position: relative;
  font-weight: bold;
  color: #f5c800;
  cursor: pointer;
  right: 2.5vw;
  opacity: 0.0;
  margin-bottom: 0.25vh;
  transition: all 0.6s ease-in-out;
}

.remove-trigger.active {
  pointer-events: unset;
  right: 7vw;
  opacity: 1.0;
  transition: all 0.6s ease-in-out;
}

.defined-trigger.inactive {
  cursor: pointer;
  opacity: 0.25;
  transition: all 0.6s ease-in-out;
}

.defined-trigger.selected {
  max-width: 80%;
  border-bottom: 0.2rem solid #000;
  border-radius: 0 1rem 0 0;


  cursor: default;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.triggers-title {
  text-align: center;
  margin-bottom: 1rem;
}

/* 
 Create New Trigger 
*/

.create-container::-webkit-scrollbar-thumb {
  /* On scroll anim, overflow is breifly scrollable, 
  on mobile the thumb is hidden, but on desktop we'll
  set the color to black so its not shown for createTrigger */
  background: #000;
}

.create-container{
  min-height: 15vh;
}

/* Verify logic text */
.trigger-verify {
  position: relative;
  user-select: none;
  z-index: 8;

  height: 20%;
  color: #000;
  font-size: 1.15rem;
  text-align: center;
  background-color: #707070;
  border-bottom: 0.2rem solid #000;
}

.create-btn {
  position: relative;
  z-index: 9;

  height: 25%;
  width: 100%;
  
  border-radius: 0 0 0 0;
  border-top: 0.2rem solid #000;

  font-weight: bold;
  font-size: 1rem;
}

.create-price{
  /* Style input to look like defined-trigger price */
  border-bottom: 0.2rem solid #000;
  border-radius: 0 1rem 0 0;

  background-color: #707070;
  border:none;

  color: #fff;
  font-size: 1.75rem;
  text-align: center;

  position: relative;
  top: 6vh;

  cursor: text;
}

.create-trigger {
  /* Scroll to center... */
  position: relative;
  z-index: 2;
  height: 10vh;

  top: 6vh;
  transition: top 0.25s ease;
}

.create-trigger.top-instant {
  /* No transition - instantly set to top position */
  top: -8vh;
  transition: top 0s;
}

.create-trigger.top {
  /* Scroll to top... */
  top: -8vh;
  transition: top 0.25s ease;
}

.create-trigger.bottom {
  /* Scroll to bottom... */
  top: 20vh;
  transition: top 0.25s ease;
}

.create-trigger.bottom-instant {
  /* No transition - instantly set to top bottom */
  top: 20vh;
  transition: top 0s ease;
}