
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Hyperlinks */
a {
  color: #6c0f2c; 
}

/* Text selection */
::selection{
  background-color: #6c0f2c;
  color: #fff;
}

/* Import font from google - Thanks Daniel Johnson, cool font :) */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* Body */
body {
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.7;
  background: #000;
  color: #000;

  overflow: hidden;
}

/* Buttons */

.btn {
  padding: 1.5vh;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;

  transition: all 0.1s ease-in-out;
  user-select: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #f5c800;
  border-radius: 1rem;
  color: #000;
}

/* Messages */
.message.inactive {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  margin-top: -15vh;
  transition: all 0.2s ease-in-out;
}

.error-message {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  background: #6c0f2c;
  text-align: center;
  color: #fff;

  font-size: 1.25rem;
  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
}

.success-message {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  background: #248232;
  text-align: center;
  color: #fff;

  font-size: 1.25rem;
  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
}

/* If screen heigh is <= 600px */
@media screen and (max-height: 600px) {
  .btn{
    padding: 1vh;
  }
}


/* User-Auth Screens (Dashboard/Triggers/Stats)*/
.dashboard-body.inactive {
  pointer-events: none;
  filter: blur(1rem);
  opacity: 0.5;
}

.dashboard-body {
  overflow: hidden;
  margin: auto;
  overflow-wrap: none;

  transition: 0.5s all ease-in-out;
  flex-direction: column;
  /* Applies space between content horizontally */
  justify-content: space-between;
  /* Centers content vertically*/
  align-items: center;
  display: flex;
  margin-top: 1rem;
  opacity: 1.0;
  
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  max-height: 80vh;
  min-height: 80vh;
  max-width: 95vw;
  min-width: 95vw;
  border-radius: 1rem;
  background-color: #707070;
  box-shadow: inset 0 0 10px #000;
}