
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Hyperlinks */
a {
  color: #6c0f2c; 
}

/* Text selection */
::selection{
  background-color: #6c0f2c;
  color: #fff;
}

/* Import font from google - Thanks Daniel Johnson, cool font :) */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* Body */
body {
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.7;
  background: #000;
  color: #000;

  overflow: hidden;
}

/* Buttons */

.btn {
  padding: 1.5vh;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;

  transition: all 0.1s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #f5c800;
  border-radius: 1rem;
  color: #000;
}

/* Messages */
.message.inactive {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  margin-top: -15vh;
  transition: all 0.2s ease-in-out;
}

.error-message {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  background: #6c0f2c;
  text-align: center;
  color: #fff;

  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
}

.success-message {
  position: absolute;
  padding: 1vh;
  width: 100%;
  margin: 1rem 0;

  background: #248232;
  text-align: center;
  color: #fff;

  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
}



/* If screen heigh is <= 600px */
@media screen and (max-height: 600px) {
  .btn{
    padding: 1vh;
  }
}