.header {
  pointer-events: none;
  /* Prevent title/logo selection */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* */

.brand-name {
  color: #707070;
}

.brand-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-height: 350px;
  max-width: 150px;
  min-height: 50px;
  min-width: 150px;
}

.auth-screen {
  width: 100vw;
  height: 100vh;
  
  display: flex;
}


/* Form elements */
.form-group,
.form-group label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.form-group label {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #d9d9d9;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid #f5c800;
}

.auth-form {
  margin: auto;

  width: 50vw;
  max-width: 600px;
  min-width: 300px;

  min-height: 40vh;

  /* Make it a round boy */
  padding: 1.5rem;
  border-radius: 2rem;
  background: #707070;
  box-shadow: rgb(56, 51, 51) 0 10px #000;
}

.form-back{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 1rem;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.form-subtext {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.form-btn{
  margin-top: 2.5rem;
}

/* Ala-carte */
.login-reset {
  margin-left: 1rem;
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
}

.forgot-info {
  word-wrap: break-word;
  text-align: center;
  display: block;
  font-size: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}