.dashboard-body.inactive {
    pointer-events: none;
    filter: blur(1rem);
    opacity: 0.5;
}

.dashboard-body {
    transition: 0.5s all ease-in-out;

    flex-direction:  column;

    /* Applies space between content horizontally */
    justify-content: space-between;

    /* Centers content vertically*/
    align-items: center;
    display: flex;

    
    margin-top: 1rem;
    opacity: 1.0;

    height: 100%;
    min-height: 100%;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
}

.container{
    max-height: 80vh;
    min-height: 80vh;
    
    max-width: 95vw;
    min-width: 95vw;

    border-radius: 1rem;
    background-color: #707070;
    box-shadow: inset 0 0 10px #000;
}

.live-graph{
    flex-direction:  column;
    align-items: center;
    display: flex;
}

.live-graph.controls {
    justify-content: space-between;
    align-content: center;
    flex-direction:  row;
    display: flex;

    max-height: 7.5vh;
    min-height: 7.5vh;
    
    max-width: 8B5vw;
    min-width: 85vw;
}

.graph-btn{
    background: #6c0f2c;
    font-size: 1rem;
    width: 17.5%;
    max-width: 20%;
}

.graph-btn.selected{
    color: #f5c800;
    background: #000;
    font-size: 1rem;
    width: 17.5%;
    max-width: 20%;
}

.graph-btn:hover{
    background: #f5c800;
    font-size: 1rem;
    width: 17.5%;
    max-width: 20%;
}

/* Charts */
.hilo-chart {
    width: 100%;
    height: 100px;

    max-height: 200px;
    min-height: 50px;
}