.navbar {
	height: 80px;
	width: 100%;
	background: #6c0f2c;
	color: #f5c800;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-logo {
	text-decoration: none;
	color: #d9d9d9;
}

.nav-links {
	display: grid;
	font-weight: bold;
	grid-template-columns: repeat(4, auto);
	grid-gap: 2.5rem;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: #d9d9d9;
}

.nav-link:hover {
	color: #f5c800;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

/* Hamburger menu if width < 600px */
@media only screen and (max-width: 600px) {
	.navbar {
		margin: 0;
  		z-index: 2;
  		position: relative;
	}

	.nav-link.inactive {
		color: #707070;
	}
	.nav-links {
		background:#707070;
		background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(112, 112, 112, 1) 100%);
		grid-gap: 0px;
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.3s all ease-in-out;
		opacity: 0;
	}
	.nav-links.active {
		background: #000;
		color: #000;
		opacity: 1;
		left: 0%;
	}
	.nav-item {
		padding: 0.5rem;
		border-top: 1px solid #6c0f2c;
		border-bottom: 1px solid #6c0f2c;
	}
	.nav-item.active {
		padding: 0.5rem;
		border-top: 1px solid #f5c800;
		border-bottom: 1px solid #f5c800;
	}
	.nav-icon {
		display: flex;
	}
}